body {
    font-family: 'Raleway', sans-serif; 

}
#borda{
    border-style: groove;
    border-color: #EEE5DE;
    border-width: 1px;
    margin-left: 20px;
    margin-right: 20px;

}
#logo{
    text-align: center;
    }
h1 a{
    color: black
    
}

a{
    color: #8B8989;
    text-decoration:none;
    margin: 10px;
    }
ul.menu{
    list-style:none;

}
ul.menu li { 
    display: inline; 
}
#dBody{
   
    height: 500px;
    background-image: url("../img/jane.jpg");
    align-items: center;
    background-position: center;
    margin-left: 20px;
    margin-right: 20px;
}



#footer{
    background-color: #EEE5DE;
   
    text-align: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
#dbodym {
   
    padding-top: 50px;
    padding-bottom: 50px;
}
#dbodym form *{
    display: block;

}
#dbodym form, iframe{
    display: inline-block;
    width: 49%;

}
.about{
    text-align: center;
}
.about img{
    width: 600px;
    height: 400px;
    padding-bottom: 50px;
}
h4{
    color: #8B8989;
    font-size: 15px;
}